@charset "UTF-8";
/*
 *
 * main.css
 *
 *
 * Copyright 2014@Tomohiro IKEDA
 *
 */
 
 
 
html, body {
    font-size:16px;
}

body {
    color:rgba(204, 204, 204, 1.0);
    background-color:rgba(51, 51, 51, 1.0);
}

body > div:first-child {
    margin:2rem auto;
    width:900px;
}

#canvas-container {
    float:left;
    margin:1rem auto 1rem 0rem;
    width:300px;
    height:300px;

    background-color:rgba(255, 255, 255, 1.0);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}

#container-controllers-head form {
    float:left;
}

#container-layer-controllers {
    float:left;
    margin-top:1rem;
    margin-left:0.5rem;
}

#container-controllers-head fieldset {
    box-sizing:border-box;

    margin-left:0.5rem;
    border:none;
    padding:1.5rem;
    height:200px;

    background-color:rgba(102, 102, 102, 1.0);
}

#container-controllers-head form:first-child fieldset {
    margin-left:0rem;
}

#container-layer-controllers fieldset {
    box-sizing:border-box;

    border:none;
    padding:1.5rem;
    width:360px;
    background-color:rgba(102, 102, 102, 1.0);
}

[name="form-layer"] [type="checkbox"],
[name="form-layer"] [type="radio"] {
    margin-right:0.5rem;
}

[type="radio"] {
    vertical-align:0.1rem;
}

input, select, label {
    cursor:pointer;
}

[type="file"] {
    display:none;
}

#button-download {
    display:inline-block;
    padding:0.25rem;
    font-size:0.5rem;
    color:#FFF;
    text-decoration:none;

    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}

#button-download:active {
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.6) inset;
       -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.6) inset;
            box-shadow:0px 1px 3px rgba(0, 0, 0, 0.6) inset;
}

.clearfix:after {
    content:"";
    display:block;
    height:0px;
    clear:both;
    visibility:hidden;
}
